<div class="container">
  <h1  class="title">Transactions</h1>



  <nz-table #sortTable [nzData]="listOfData"  nzSize="middle" nzTableLayout="fixed" [nzLoading]="loading"  class="collapse center-table">
    <thead>
    <tr>
      <th *ngFor="let column of listOfColumn">
        {{ column.title }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of sortTable.data" >
      <td >{{ data.clientNom }}</td>
      <td>{{ data.itemType }}</td>
      <td>{{ data.prix }} DT </td>
      <td >{{ data.status }}</td>
      <td>

        <button nz-button nzDanger [disabled]="data.status =='Accepte' || data.status == 'Refuse'" style="width: 50px;margin-right: 7px" nzType="primary" (click)="showRefuseConfirm(data)" ><span nz-icon nzType="close" nzTheme="outline"></span></button>
        <button nz-button nzBlock [disabled]="data.status =='Accepte' || data.status == 'Refuse'" style="width: 50px" nzType="primary" (click)="showDeleteConfirm(data)"> <span nz-icon nzType="check" nzTheme="outline"></span></button>

      </td>
    </tbody>
  </nz-table>

</div>
