<footer>
  <div class="footer-wrappper footer-bg">
    <!-- Footer Start-->
    <div class="footer-area footer-padding">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="single-footer-caption mb-30">
                <!-- logo -->
                <div class="footer-logo mb-25">
                  <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                </div>
                <div class="footer-tittle">
                  <div class="footer-pera">
                    <p>Développez vos compétences grâce à des cours, des certificats et des diplômes en ligne délivrés par des universités et des entreprises de renommée mondiale.</p>
                  </div>
                </div>
                <!-- social -->
                <div class="footer-social">
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Notre Articles</h4>
                <ul>
                  <li><a style="color: white">Service</a></li>
                  <li><a style="color: white" >Evenement</a></li>
                  <li><a  style="color: white">Formations</a></li>

                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Founders</h4>
                <ul>
                  <li><a href="#">Noura Bouhouch</a></li>
                  <li><a href="#">Chaker Katar</a></li>

                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>
