.section-tittle h2 {
  font-size: 42px;
  display: block;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 21px;
}
h2
{
  font-family: "Josefin Sans",sans-serif;
  color: #4255A4 !important;
  margin-top: 0px;
  font-style: normal;
}
.btn {
  background: #FF9F67;
  font-family: "Josefin Sans",sans-serif;
  text-transform: capitalize;
  padding: 25px 38px !important;
  color: #fff;
  cursor: pointer;
  display: inline-blockc !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  border-radius: 5px !important;
  line-height: 1 !important;
  -moz-user-select: none !important;
  letter-spacing: 1px !important;
  line-height: 0 !important;
  margin-bottom: 0 !important;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden;
  margin: 0;
}
.courses-area .properties__img img {
  height: 170px !important;
  width: 274px !important;
  border-radius: 10px 10px 0 0;
  position: relative;
}
.courses-area .properties__caption {
  padding: 29px 20px 20px 20px;
  height: 333px !important;
}
.services-area .single-services {
  display: flex;
  height: 170px;
  box-shadow: 0px 25px 60px rgba(66,85,164,0.06);
  padding: 29px 24px;
  border-radius: 20px;
  background: #fff;
}

