<div class="properties pb-20" style="width: 240px">
  <div class="properties__card card">
    <div class="properties__img">
      <a routerlink="/"><img style="width: 100%" src="assets/imgNotFound.png" alt=""></a>
    </div>
    <div class="properties__caption">
      <p class="pHeader">hhhh</p>
      <h3>
        <a style="color: #007bff; cursor: default; text-decoration: none; background-color: transparent;">TEST</a>
      </h3>
      <p>hhhhh</p>
      <div class="properties__footer d-flex justify-content-between align-items-center">
        <div class="price">
          <span>DT</span>
        </div>
      </div>
      <a routerLink="/descriptionService" class="border-btn border-btn2">En savoir plus</a>
    </div>
  </div>
</div>
