<div class="container">
  <h1  class="title">Service</h1>

  <button nz-button class=" label-item lang-btn addButton" nzType="primary" routerLink="/prestatire/addService"  style="float: right">Ajouter une service </button>


  <nz-table #sortTable [nzData]="listOfData"  nzSize="middle" nzTableLayout="fixed" [nzLoading]="loading"  class="collapse center-table">
    <thead>
    <tr>
      <th *ngFor="let column of listOfColumn">
        {{ column.title }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of sortTable.data" >
      <td >{{ data.nom }}</td>
      <td>{{ data.description !== null ? (data.description.length > 30 ? (data.description.substring(0, 30) + '...') : data.description) : '-' }}</td>
      <td>{{ data.prix }}DT </td>
      <td>{{ data.category }} </td>

      <td >
        <div *ngFor="let glory of data?.images" class="image-row" >
          <img src="{{ glory }}" width="50px" height="50px" alt="test">
        </div>
      </td>
      <td>

        <button nz-button nzDanger style="width: 50px;margin-right: 7px" nzType="primary" (click)="showDeleteConfirm(data.id)"><span nz-icon nzType="delete" nzTheme="outline"></span></button>
        <button nz-button nzBlock style="width: 50px" nzType="primary" (click)="showModal(data)"> <span nz-icon nzType="edit" nzTheme="outline"></span></button>

      </td>
    </tbody>
  </nz-table>

</div>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Modifier Service"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
>
  <form
    nz-form
    *nzModalContent
    [nzLayout]="'horizontal'"
    [formGroup]="addForm">
    <nz-collapse [nzBordered]="false" class="collapse">
      <nz-collapse-panel   nzHeader="Nom *" [nzActive]="">
        <nz-form-item>
          <nz-form-control  nzErrorTip="cette champ est obligatoire">
            <input class="input" nz-input formControlName="name"   />
          </nz-form-control>
        </nz-form-item>

      </nz-collapse-panel>
    </nz-collapse>
    <nz-collapse [nzBordered]="false" class="collapse">
      <nz-collapse-panel  nzHeader="Description" [nzActive]="">

        <nz-form-item>
          <nz-form-control >
            <nz-textarea-count >
              <textarea formControlName="description" class="input" nz-input rows="3"></textarea>
            </nz-textarea-count>
          </nz-form-control>
        </nz-form-item>
      </nz-collapse-panel>
    </nz-collapse>

    <nz-collapse [nzBordered]="false" class="collapse" >
      <nz-collapse-panel  nzHeader="Prix * " [nzActive]="">
        <nz-form-item>
          <nz-form-control  nzErrorTip="cette champ est obligatoire">
            <input nz-input  class="input" type="number" formControlName="prix"  />
          </nz-form-control>
        </nz-form-item>
      </nz-collapse-panel>
    </nz-collapse>

    <nz-collapse [nzBordered]="false" class="collapse">
      <nz-collapse-panel  nzHeader="category" [nzActive]="">

        <nz-form-item>
          <nz-form-control    nzErrorTip="cette champ est obligatoire">
            <nz-select nzShowSearch nzAllowClear [(ngModel)]="selectedValue" formControlName="category" >
              <nz-option nzLabel="Arts créatifs et Design" nzValue="Arts créatifs et Design"></nz-option>
              <nz-option nzLabel="Programmation et Développement" nzValue="Programmation et Développement"></nz-option>
              <nz-option nzLabel="Santé et Forme physique" nzValue="Santé et Forme physique"></nz-option>

            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-collapse-panel>
    </nz-collapse>
    <nz-collapse [nzBordered]="false" class="collapse">
      <nz-collapse-panel  nzHeader="Galeries" [nzActive]="">

        <nz-upload
          nzType="drag"
          [nzMultiple]="true"
          [nzShowUploadList]="{ showPreviewIcon: false, showRemoveIcon: true, showDownloadIcon: false }"
          [nzData]="fillFormData()"
          [nzAction]="nzAction"
          nzListType="picture"
          nzAccept="image/*"
          (nzChange)="handleChange($event)"
        >
          <p class="ant-upload-drag-icon">
            <span nz-icon nzType="inbox"></span>
          </p>
          <p class="ant-upload-text">Cliquez ou faites glisser le fichier dans cette zone pour le télécharger</p>
          <p class="ant-upload-hint">
            Support pour un téléchargement unique ou en vrac. Il est strictement interdit de télécharger des données d'entreprise ou d'autres fichiers interdits.
          </p>
        </nz-upload>
      </nz-collapse-panel>
    </nz-collapse>









  </form>
</nz-modal>
